html, body {
  height: 100%;
  overflow-x: hidden;
}
.jumbotron {
  background-color: #9CCC65;
}
.card-columns {
  column-count: 1 !important;
}
@media (min-width: 768px) {
  .card-columns {
    column-count: 2 !important;
  }
}
.gist-author {
  float: right;
}
.partition {
  background-color: #f4f4f4;
  background: linear-gradient(to bottom, #f4f4f4 0%, #fff 300px);
  min-height: 300px;
  padding: 32px 0;
}
.text-danger {
  color: red;
}
.card {
  background-color: #fff;
}
.display-1 {
  margin-bottom: 2rem;
}
.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  text-align: center;
}
.animated.slide-in {
  animation-name: slidein;
}
.animated.slide-out {
  animation-name: slideout;
}

@keyframes slidein {
  from {
    margin-top: 50%;
    background-color: rgba(48, 79, 254, 0.8);
  }

  to {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes slideout {
  from {
    background-color: rgba(255, 255, 255, 0.2);
  }

  to {
    margin-top: 50%;
    background-color: rgba(48, 79, 254, 0.8);
  }
}
